<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-4 my-40">
    <div class="col-span-1 ml-auto">
        <div class="text-[#1877F2] text-4xl sm:text-6xl font-bold">facebook</div>
        <div class="mt-4 text-base sm:text-2xl">Connect with friends and the world <br>around you on Facebook.
        </div>
    </div>
    <div class="col-span-1">
        <div class="w-96 max-w-7xl">
            <form class="bg-white shadow-md rounded px-5 pt-5 pb-8 mb-4">
                <div class="mb-4">
                    <input
                        class="shadow appearance-none border rounded w-full py-4 px-3 text-black leading-tight focus:outline-none focus:shadow-outline placeholder-slate-400"
                        id="username" type="text" placeholder="Email or phone number">
                </div>
                <div class="mb-6">
                    <input
                        class="shadow appearance-none border rounded w-full py-4 px-3 text-black leading-tight focus:outline-none focus:shadow-outline placeholder-slate-400"
                        id="password" type="password" placeholder="Password">
                </div>
                <div class="flex items-center justify-between">
                    <button
                        class="bg-blue-500 hover:bg-blue-600 text-white font-bold w-full py-2.5 px-4 rounded focus:outline-none focus:shadow-outline text-xl"
                        type="button">
                        Log In
                    </button>
                </div>
                <div>
                    <a class="p-4 flex justify-center inline-block align-baseline text-sm text-blue-500 hover:underline "
                        href="#">
                        Forgot Password?
                    </a>
                </div>
                <hr class="p-4">
                <div class="flex justify-center items-center">
                    <button
                        class="bg-green-500 hover:bg-green-600 text-white font-bold w-48 py-3 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="button" (click)="openModal()">
                        Create new account
                    </button>
                </div>

            </form>
            <p class="text-center text-sm">
                <a href="#" class="hover:underline font-bold">Create a Page</a> for a celebrity, brand or business.
            </p>
        </div>
    </div>
</div>
<app-modal [isOpen]="isModalOpen" (closeModalEvent)="isModalOpen = false"></app-modal>