<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 my-40">
    <div class="col-span-1"></div>
    <div class="col-span-1">
        <div class="text-[#1877F2] text-4xl sm:text-6xl font-bold">facebook</div>
        <div class="mt-4 text-base sm:text-2xl">Connect with friends and the world around you on Facebook.</div>
    </div>
    <div class="col-span-1">
        <div class="w-96 max-w-7xl">
            <form class="bg-white shadow-md rounded px-5 pt-5 pb-8 mb-4">
                <div class="mb-4">
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="username" type="text" placeholder="Username">
                </div>
                <div class="mb-6">
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="password" type="password" placeholder="******************">
                </div>
                <div class="flex items-center justify-between">
                    <button
                        class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="button">
                        Sign In
                    </button>
                </div>
                <div>
                    <a class="inline-block align-baseline text-sm text-blue-500 hover:underline" href="#">
                        Forgot Password?
                    </a>
                </div>
            </form>
            <p class="text-center text-sm">
                <a href="#" class="hover:underline font-bold">Create a Page</a> for a celebrity, brand or business.
            </p>
        </div>
    </div>
    <div class="col-span-1"></div>
</div>